body {
    background-color: rebeccapurple;
}

#navbar {
    background-color: rebeccapurple;
    border-right: 3px solid;
    border-color: lightgreen;
}

.nav-link {
    border: 5px outset lightgreen;
}

#main-doc {
    background-color: rebeccapurple;
}

h1, h2 {
    color: aliceblue;
}

p, li {
    color: azure;
}

a {
    color: aliceblue;
}

a:hover {
    color: lightgreen;
}

code {
    background-color: rgb(40, 17, 63);
    color: rgb(253, 45, 86);
    font-weight: bold;
}

.code-block {
    background-color: rgb(40, 17, 63);
    border: 5px outset lightgreen;
}

@media (max-width: 815px) {
    #navbar {
        border-right: none;
        border-bottom: 5px solid;
        border-color: lightgreen;
    }
}