@import url("topography.css");
@import url("colors.css");

#navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.nav-link {
    margin: 5px 0;
    padding: 3px;
    border-radius: 15px;
}

#main-doc {
    position: absolute;
    top: 0;
    left: 325px;
    padding: 10px;
}

.main-section {
    margin-bottom: 7em;
}

ul {
    list-style-type: none;
    margin-left: 3em;
}

p {
    padding-left: 2em;
    overflow-wrap: anywhere;
}

.code-block {
    margin-right: 5em;
    margin-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

@media (max-width: 815px) {
    #navbar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        height: 300px;
        width: 97%;
        z-index: 2;
        overflow: scroll;
    }

    #main-doc {
        position: absolute;
        top: 325px;
        left: 0;
    }

}